{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block form_row %}

   <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>

{% endblock %}


{% block vich_image_widget %}
{% spaceless %}
    <div class="vich-image">
        {{ form_widget(form.file) }}
        

        {% if download_uri is defined and download_uri %}
         <div><a href="{{ download_uri }}"><img src="{{ download_uri }}" class="edit-image" alt="" /></a></div>
        {% endif %}
        {% if show_download_link and download_uri is defined and download_uri%}
        <a href="{{ download_uri }}" class="btn btn-primary">{{ 'Download image'|trans({}, 'VichUploaderBundle') }}</a>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock %}


