{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="user-index">User list</h1>

    <table class="table table-striped user-index">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Recipes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="userDataRow">
                <td class="userId"><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.recipes.count() }}</td>
                <td>
                    <ul >
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-default">Edit</a>
                        </li>
                        <li>
                            <button class="btn btn-danger delete-user-button">Delete</button>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}" class="btn btn-primary">Create a new entry</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}

     <script type="text/javascript" src="{{ asset('js/recipe-form.js') }}">

{% endblock %}
