{% extends 'base.html.twig' %}

{% block body %}
    <div class="user-main-info">
        <h2>{{ user.username }}</h2>
        <p>Number of recipes submitted:</p>
        <p class="recipe-count"><span>{{ user.recipes.count() }}</span></p>
        {% if app.user == user %}
            <a href="{{ path('recipe_new') }}" class="btn btn-default">Create new recipe</a>
        {% endif %}
    </div>
    <div class="user-recipe">
        <h2 class="user-recipe-list-heading">{{ user.username }}'s recipes</h2>
        <section>
            {% for recipe in user.recipes %}
                <article>
                    <div class="container-fluid first_row">
                        <div class="row">
                            <div class="img-container">
                                <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="{{ recipe.title }}">
                            </div>
                            <div class="recipe_header">
                                <h2>{{ recipe.title }}
                                    {% if app.user == recipe.user %}
                                        | <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}" class=" recipe-edit-button">Edit this recipe</a>
                                    {% endif %}
                                </h2>
                                <p class="recipe_description">
                                    {{ recipe.description }} 
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="ingredients_box">
                        <h2>Ingredients</h2>
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ ingredient.name }}, {{ ingredient.amount }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="directions_box">
                        <h2>Directions</h2>
                        <ol>
                            {% for direction in recipe.directions %}
                                <li>{{ direction.step }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </article>
                {% if user.recipes.count() > 1 %}
                    <hr>
                {% endif %}
            {% endfor %}
        </section>
    </div>
{% endblock %}
