{% extends 'base.html.twig' %}

{% form_theme edit_form 'form/fields.html.twig' %}

{% block body %}
    <h1 class="create-recipe-heading">Edit recipe</h1>
     {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate', 'class': 'recipe-form'}}) }}
        {{ form_widget(edit_form.title) }}
        {{ form_widget(edit_form.description) }}
        <div class="image-upload-container">
            {{ form_widget(edit_form.imageFile) }}
        </div>
        <div class="ingredients_container">
            <h3>Ingredients</h3>
            <ul class="ingredients" data-prototype="{{ form_widget(edit_form.ingredients.vars.prototype)|e }}">
                {% for ingredient in edit_form.ingredients %}
                    <li>{{ form_widget(ingredient) }}
                        <a class="btn btn-default" href="#">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="directions_container">
            <h3>Directions</h3>
            <ul class="directions" data-prototype="{{ form_widget(edit_form.directions.vars.prototype)|e }}">
                {% for direction in edit_form.directions %}
                    <li>{{ form_widget(direction) }}
                        <a class="btn btn-default" href="#">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="edit-recipe-button-container">
            <input type="submit" value="Edit" class="btn btn-primary edit-recipe-button" />
        </div>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('recipe_index') }}" class="btn btn-default">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger delete-recipe-button">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/recipe-form.js') }}">

{% endblock %}
