{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid first_row">
        <div class="row">
            <div class="img-container">
                <img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="{{ recipe.title }}">
            </div>
            <div class="recipe_header">
                <h2>{{ recipe.title }}</h2>
                <p class="recipe_description">
                    {{ recipe.description }} 
                </p>
                <p class="author_info">
                    Submitted by {{ recipe.user.userName }}
                    
                </p>
                {% if app.user == recipe.user %}
                    <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}" class="btn btn-primary">Edit this recipe</a>
                {% endif %}
            </div>
        </div>
        
    </div>
    <div class="ingredients_box">
        <h2>Ingredients</h2>
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient.name }}, {{ ingredient.amount }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="directions_box">
        <h2>Directions</h2>
        <ol>
            {% for direction in recipe.directions %}
                <li>{{ direction.step }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
